.panel-heading.auth-title
  Добро пожаловать в Myvillage!
.panel-body
  %p Задайте пароль:
  = form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {class: 'form-horizontal', role: 'form', method: 'put'}, :id => 'activation-form' do |f|
    = devise_error_messages!
    .form-group
      .col-sm-12
        = f.password_field :password, :autofocus => true, class: 'form-control', placeholder: 'Пароль'
    .form-group
      .col-sm-12
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение'

    = hidden_field_tag :confirmation_token, @confirmation_token
    .form-group
      .col-sm-12.text-right
        %button.btn.btn-primary
          Вход
