- village_id = village_id || nil

.row
  .col-sm-12
    - if items.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th.col-sm-6 ФИО
            %th.col-sm-6 Email
            %th.col-sm-6 Группы
            %th Код
        %tbody
          - items.each_with_index do |item, index|
            %tr
              %td= index+1
              %td= link_to item.title, edit_user_path(item.id, village_id: village_id)
              %td= item.email
              %td= item.groups.map(&:title).join(', ')
              %td= item.village_code

    - else
      %p Нет пользователей