.panel-heading.auth-title
  Изменение пароля
.panel-body
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), html: {class: 'form-horizontal', role: 'form', :method => :put}) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      .col-sm-12
        = f.password_field :password, :autofocus => true, class: 'form-control', placeholder: 'Пароль'
    .form-group
      .col-sm-12
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение'
    .form-group
      .col-sm-12.text-right
        %button.btn.btn-primary
          Изменить пароль

.panel-footer
  = render "devise/shared/links"
