= render "shared/error_messages", :target => @item

= form_for @item, url: form_action, html: {class: 'form form-horizontal'} do |f|
  = f.hidden_field :village_id, :value => @village.id
  .form-group
    .col-sm-3
      %label Название
    .col-sm-5
      = f.text_field :title, class: 'form-control',  :autofocus=>true

  .form-group
    .col-sm-3
      %label Владелец
    .col-sm-5
      = f.select :user_id, @village.users.map{|c| [c.title, c.id]}, { class: 'form-control'}

  .form-group
    .col-sm-3
      %label Тип
    .col-sm-5
      = f.select :ptype, Property::PROPERTY_TYPES.map{|c| [c, c]}, { class: 'form-control'}

  .form-group
    .col-sm-12
      = f.submit 'Сохранить', class: 'btn btn-success'
      %a.btn.btn-default{href: request.referer} Отмена
      - unless @item.new_record?
        = link_to 'Удалить', village_property_path(@village, @item), method: :delete, class: 'btn btn-danger pull-right', confirm: 'Подтвердите удаление'
