- page_title("Авторизация")

= render 'oldie'

.panel-heading.auth-title
  Вход в систему
.panel-body
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal', role: 'form'}) do |f|
    .form-group
      .col-sm-12
        = f.text_field :email, :autofocus => true, class: 'form-control', placeholder: 'Логин'
    .form-group
      .col-sm-12
        = f.password_field :password, class: 'form-control', placeholder: 'Пароль'

    .form-group
      - if devise_mapping.rememberable?
        .col-sm-8
          %label.checkbox-inline
            = f.check_box :remember_me
            Запомнить меня
      .col-sm-4.text-right
        %button.btn.btn-primary
          Вход

.panel-footer
  = render 'devise/shared/links'
