- editable = @counter.editable_by_user?(current_user)
.row.top20
  .col-sm-12
    - @counters.each do |c|
      - klass = 'btn-default'
      - klass = 'btn-primary' if @counter.id == c.id
      - klass = 'disabled' unless c.current_tariff
      = link_to c.title, village_property_meterings_path(@village, @property, counter_id: c.id), class: "btn #{klass} btn-sm"

.row
  .col-sm-12
    - if @items.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th.col-sm-3 Дата
            %th.col-sm-3 Показание
            %th.col-sm-3 Тариф
            %th.col-sm-3 Итого
        %tbody
          - @items.each_with_index do |item, index|
            %tr
              %td= index+1
              - if editable
                %td= link_to item.date, village_property_metering_path(@village, @property, item)
                %td= link_to item.value, village_property_metering_path(@village, @property, item)
              - else
                %td= item.date
                %td= item.value
              %td= item.tariff.full_title
              %td= item.total.round(2)

    - else
      %p Нет показаний


- if editable
  .row
    .col-sm-12.top20
      = link_to "Добавить", new_village_property_metering_path(@village, @property, counter_id: @counter.id), class: "btn btn-success btn-sm"
