.row
  .col-md-12
    %h3 Показания

.row.top20
  .col-sm-12
    - Counter.all.each do |c|
      - klass = 'btn-default'
      - klass = 'btn-primary' if @code == c.code
      = link_to c.title, meterings_path(code: c.code), class: "btn #{klass} btn-sm"

.row
  .col-sm-12
    - if @items.any?
      %table.table.table-stripped.table-hover
        %thead
          %tr
            %th #
            %th.col-sm-3 Дата
            %th.col-sm-3 Показание
            %th.col-sm-3 Тариф
            %th.col-sm-3 Итого
        %tbody
          - @items.each_with_index do |item, index|
            %tr
              %td= index+1
              %td= link_to item.date, metering_path(item.id)
              %td= link_to item.value, metering_path(item.id)
              %td= item.tariff.full_title
              %td= item.total

    - else
      %p Нет показаний

.row
  .col-sm-12.top20
    = link_to "Добавить", new_metering_path(code: @code), class: "btn btn-success btn-sm"

- if @code
  - labels = []
  - values = []
  - values_rub = []
  - items = @items.reverse.to_a
  - counter = Counter.find_by(code: @code)
  - title = "#{counter.title}, #{counter.unit}"
  - items.each_with_index do |item, i|
    - labels << item.date
    - if i > 0
      - diff = items[i].value - items[i-1].value
    - else
      - diff = items[i].value
    - values << diff
    - values_rub << item.total

  = render partial: 'chart_values', locals: {title: title, labels: labels, values: values }

  - title = "Итого, руб."
  = render partial: 'chart_price', locals: {title: title, labels: labels, values: values_rub }