!!!
%html{:lang => "en"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Авторизуйтесь'
    -#%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Footmanager'}"}

    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag '/ball-green.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

    /[if lt IE 9]
      %script(src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" type="text/javascript")
      %script(src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" type="text/javascript")

  %body
    .container.devise
      .row
        .col-sm-6.col-sm-offset-3
          = render 'shared/messages'
          .panel.panel-default
            = yield